body{
    width: 90%;
    margin: auto;
}

.contenedor {
    width: 930px;
    border: 1px solid #000;
}

.contenedor::after { 
    content: "";
    display: block;
    clear: both;
}

.contenedor p{
    text-transform: capitalize;
    margin: 2px;
    display: block;
    width: 300px;
}