.contenedor .contenido .search input[type=text] {
    width: 85%;
    padding: 10px 5px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
}

#horasTotales {
    text-align: right;
    margin-right: 20px;
}

.contenedor .contenido  input[type=search] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/static/img/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.contenedor .contenido .search input[type=submit]:hover{
    background: #12203e;
}

.contenedor .contenido .table {
    width: 100%;
    margin-top: 8px;
    height: 500px;
    font-size: 15px;
    overflow-y: scroll;
}

.contenedor .contenido .table table {
    width: 100%;
    height: auto;
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0;
}

.contenedor .contenido .table table thead {
    border-radius: 8px;
}

.contenedor .contenido .table table thead .sticky {
    background-color: #12193e;
    position: sticky;
    top: 0;
}

.contenedor .contenido .table table thead th,
.contenedor .contenido .table tbody th {
    text-align: left;
    padding: 15px 5px;
    color: #fff;
}

.contenedor .contenido .table tbody th{
    background-color: #a1b1ff;
    color: #000;
}

.contenedor .contenido .table tbody tr td label{
    display: block;
    width: 100%;
    text-transform: capitalize;
}

.contenedor .contenido .table tbody tr td {
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    text-transform: capitalize;
}

.contenedor .contenido .table tbody tr:nth-child(2n){
    background-color: rgb(236, 236, 236);
}

.contenedor .contenido input[type="submit"] {
    width: 100%;
    background: #35448f;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contenedor .contenido input[type="submit"]:hover,
.contenedor .contenido .btn_label:hover {
    background: #12203e;
}

.contenedor .contenido form textarea {
    display: none;
    width: 100%;
    resize: none;
}

.contenedor .contenido .info a{
    margin-top: 8px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    background: #35448f;
    color: white;
    padding: 14px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.contenedor .contenido .info a:hover {
    background: #12203e;
}