<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css' ) }}">
    <title>Comando de Infanteria de Marina</title>
</head>

<body>
    <div class="contenedor">
        <div class="escudo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
        </div>
        <div class="form">
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %} {% endif %} {% endwith %}
            <form action="/entrar/config" method="POST">
                <label>Usuario:</label>
                <input type="text" name="legajo" placeholder="Legajo.." maxlength="6">
                <label>Contrase&ntilde;a:</label>
                <input type="password" name="codigo" placeholder="Contrase&ntilde;a.." maxlength="10">
                <input type="submit" value="Entrar">
            </form>
        </div>
    </div>
</body>

</html>