{% extends 'layout.html' %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/listado.css') }}"> {% endblock %} {% block contenido %}
<input type="search"  id="myInput" onkeyup="myFunction()" placeholder="Buscar por Apellido..">
<div class="table">
    <table>
        <thead>
            <tr class="sticky">
                <th>Legajo</th>
                <th>Grado</th>
                <th>Esp</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Seccion</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% for datos in tripulantes %}
            <tr onclick="window.location.href='/perfil/{{ datos.0 }}/infoPersonal'">
                <td>{{ datos.0 }}</td>
                <td>{{ datos.1 }}</td>
                <td>{{ datos.2 }}</td>
                <td>{{ datos.3 }}</td>
                <td>{{ datos.5 }}</td>
                <td>{{ datos.10 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/list.js') }}"></script>
{% endblock %}
