{% extends 'layout.html' %} {% block contenido %}
<p>
    <h1>Contenido</h1> <br> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus quam iure quo non totam corrupti nam, pariatur exercitationem dolor laborum ipsum voluptate quaerat ullam quis nostrum ut officia repellat nulla. <br><br> Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Consectetur ipsam tenetur dolor sapiente suscipit culpa. Dolor accusamus sint ex perspiciatis sit illum dolore perferendis illo eaque, nisi voluptas iste dolorum. <br><br> Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Libero cupiditate quis, nisi corporis culpa cum aspernatur atque, labore dolorem magnam aliquam praesentium. Obcaecati commodi unde ducimus. Qui rem autem numquam?
</p>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}