{% extends 'editar.html' %} {% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cambiarFoto.css') }}"> {% endblock %} {% block contenido %}
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
<p>{{ message }}</p>
{% endfor %} {% endif %} {% endwith %}
<div class="imagenesDigitalizadas">
    {% for imagen in tripulante.imagenes %}
    <div class="gallery">
        <a target="_blank" href="/static/img/imgDigitalizadas/{{ tripulante.info.0 }}/{{ imagen.1 }}">
            <img src="/static/img/imgDigitalizadas/{{ tripulante.info.0 }}/{{ imagen.1 }}">
        </a>
    </div>
    {% endfor %}
</div>
<form action="documentosDigitalizados/config" method="POST" enctype="multipart/form-data">
    <div class="load_perfil">
        <img id="imagenPrevisualizacion">
    </div>
    <input type="file" id="seleccionArchivos" accept="image/*" name="perfil">
    <label for="seleccionArchivos" class="btn_label">Seleccionar Archivo..</label>
    <input type="submit" value="Guardar">
</form>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/docDigitalizados.js') }}"></script>
{% endblock %}